@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("photo-1506318137071-a8e063b4bec0.avif");
    color: white;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-family: "Poppins",sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: normal;
   
    margin-top: -10rem;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem 1rem 2rem;
    font-weight: bold;
}
.countdown-container
{
    flex-wrap: wrap;
display: flex;
justify-content: center;

}
.countdown-el{
    font-size: 1.3rem;
}
.countdown-el span{
  text-align: center;
  font-weight: bold;
  margin: 0 2rem 0 2rem;
}